:root {
    --primary: #7ca5ff;
    --secondary: #cf7cff;
    --dark: #262639;
    --light: #d2d2ff;
    --error: #ff4d4d;
    --font-main: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: var(--dark);
    color: var(--light);
    min-height: 100vh;
}

.container {
    padding: 0 15%;
}

.btn-primary {
    padding: 12px 30px;
    background-color: var(--primary);
    color: var(--dark);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: var(--secondary);
    transform: scale(1.05);
}

.main-wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.login-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
}

.image-side {
    flex: 1;
    background-size:cover;
    background-position: center;
    display: none;
}

@media (min-width: 768px) {
    .image-side {
        display: block;
    }
}

.login-container {
    width: 90%;
    max-width: 400px;
    padding: 40px;
    text-align: left;
}

.login-container h2 {
    font-size: 2.5rem;
    color: var(--primary);
    margin-bottom: 10px;
}

.login-container p {
    color: var(--light);
    margin-bottom: 30px;
    opacity: 0.8;
}

.input-group input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid rgba(210, 210, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: var(--primary);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(124, 165, 255, 0.2);
}

button {
    width: 100%;
    padding: 15px;
    background-color: var(--primary);
    color: var(--dark);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: var(--secondary);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(207, 124, 255, 0.4);
}

.error-msg {
    color: var(--error);
    margin-top: 15px;
    font-size: 0.9rem;
    min-height: 1.2em;
}